---
name: Initialize Repository

on:
  push:
    branches:
      - main

permissions:
  contents: write
  issues: write

jobs:
  setup:
    if: ${{ ! contains(github.repository, 'template') }}
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            files.pythonhosted.org:443
            github.com:443
            pypi.org:443
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - name: Setup labels for the repository
        run: gh label clone inovintell/py-template --force
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Update repository name
        uses: jossef/action-set-json-field@2a0f7d953b580b828717daf4de7fafc7e4135e97 # tag=v2
        with:
          file: cookiecutter.json
          field: repository
          value: ${{ github.event.repository.name }}
      - name: Update repository owner
        uses: jossef/action-set-json-field@2a0f7d953b580b828717daf4de7fafc7e4135e97 # tag=v2
        with:
          file: cookiecutter.json
          field: repository_owner
          value: ${{ github.repository_owner }}
      - name: Setup Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: 3.x
      - name: Install cookiecutter
        run: pip install cookiecutter
      - name: Hack cookiecutter to work with GH Actions
        id: hack
        working-directory: ${{ github.workspace }}/../
        run: |
          rm ${{ github.event.repository.name }}/.github/workflows/initialization.yml
          mv ${{ github.event.repository.name }}/cookiecutter.json ./
          mv ${{ github.event.repository.name }} '{{cookiecutter.repository}}'
          echo "working_directory=$(pwd)" >> $GITHUB_OUTPUT
      - name: Create repo from template
        working-directory: ${{ steps.hack.outputs.working_directory }}/../
        run: >
          cookiecutter --verbose --no-input
          ${{ github.event.repository.name }}
          --output-dir ./${{ github.event.repository.name }}
      - name: Push changes
        uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
        with:
          commit_user_name: github-actions[bot]
          commit_user_email: github-actions[bot]@users.noreply.github.com
          commit_message: 'fix: setup template repository [skip ci]'
          add_options: --all
          push_options: --force
