---
name: Pull Request Labeler
on:
  - pull_request_target

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  label:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    if: github.actor != 'renovate[bot]'
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@eb238b55efaa70779f274895e782ed17c84f2895 # v2.6.1
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
      - uses: actions/labeler@ac9175f8a1f3625fd0d4fb234536d26811351594 # v4.3.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
