---
name: Python Package Semantic Release

on:
  push:
    branches:
      - main

jobs:
  release:
    if: |
      ! contains(github.repository, 'template') &&
      ! contains(github.event.head_commit.message, 'Initial commit')
    runs-on: ubuntu-latest
    concurrency: release

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            files.pythonhosted.org:443
            github.com:443
            pypi.fury.io:443
            pypi.org:443
            test.pypi.org:443
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Setup Dependencies
        uses: ./.github/actions/setup-poetry
      - name: Setup git credentials
        uses: ./.github/actions/setup-git
      - name: Prepare semantic release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: poetry run semantic-release publish
      - name: Deploy to registry
        run: |
          poetry config repositories.${{ secrets.PYPI_NAME }} ${{ secrets.PYPI_URL }}
          poetry config pypi-token.${{ secrets.PYPI_NAME }} ${{ secrets.PYPI_TOKEN }}
          poetry publish --build --repository ${{ secrets.PYPI_NAME }}
