---
name: Generate Documentation

on:
  workflow_run:
    workflows:
      - Python Package Semantic Release
    types:
      - completed
    branches:
      - main

jobs:
  docs:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: block
          allowed-endpoints: >
            github.com:443
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
      - name: Setup Dependencies
        uses: ./.github/actions/setup-poetry
      - name: Setup git credentials
        uses: ./.github/actions/setup-git
      - name: Publish docs
        run: "poetry run mkdocs gh-deploy --message 'feat: release {version}'"
