---
name: Python Package Semantic Release

on:
  push:
    branches:
      - main

jobs:
  release:
    if: |
      ! contains(github.repository, 'template') &&
      ! contains(github.event.head_commit.message, 'Initial commit')
    runs-on: ubuntu-latest
    concurrency: release

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            files.pythonhosted.org:443
            github.com:443
            pypi.fury.io:443
            pypi.org:443
            test.pypi.org:443
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - name: Setup Dependencies
        uses: ./.github/actions/setup-poetry
      - name: Setup git credentials
        uses: ./.github/actions/setup-git
      - name: Prepare semantic release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: poetry run semantic-release publish
      - name: Deploy to registry
        run: |
          poetry config repositories.${{ secrets.PYPI_NAME }} ${{ secrets.PYPI_URL }}
          poetry config pypi-token.${{ secrets.PYPI_NAME }} ${{ secrets.PYPI_TOKEN }}
          poetry publish --build --repository ${{ secrets.PYPI_NAME }}
