---
name: Python Tests

on:
  pull_request:
    branches:
      - main
    paths:
      - src/**
      - test/**
      - pyproject.toml
      - poetry.lock

concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    if: ${{ ! contains(github.repository, 'template') }}
    strategy:
      matrix:
        py:
          - '3.11'
          - '3.10'
          - '3.9'
        os:
          - ubuntu-latest
          - macos-latest
    name: >
      ${{ matrix.os }} | py-${{ matrix.py }}
    runs-on: ${{ matrix.os }}

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            files.pythonhosted.org:443
            github.com:443
            pypi.org:443
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Setup Dependencies
        uses: ./.github/actions/setup-poetry
        with:
          python-version: ${{ matrix.py }}
          flags: --only test,main
          key: test
      - name: Run Python tests
        uses: ./.github/actions/python-test
        with:
          coverage-name: ${{ matrix.os }}-py-${{ matrix.py }}-coverage
          test-report-name: ${{ matrix.os }}-py-${{ matrix.py }}-tests

  coverage:
    needs: tests
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            files.pythonhosted.org:443
            github.com:443
            pypi.org:443
      - name: Check out repository code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Setup Dependencies
        uses: ./.github/actions/setup-poetry
      - name: Upload combined coverage
        uses: ./.github/actions/python-coverage
